@import "../../vars.css";

.container {
  color: var(--color-text);
  padding: 40px;
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(233, 196, 84);
  background: linear-gradient(90deg, rgb(233, 196, 84) 0%, hsla(70, 88%, 44%, 0) 100%);
  border-radius: 15px;
}

.title {
  color: black;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 18px;
}

.certi {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.certiImg {
  border-radius: 25px;
}

.certiItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 10px;
}

.certiItem img {
  width: 50px;
}

.certiItem h3 {
  color: greenyellow;
}

.certiItemDetails {
  font-family: var(--font-roboto);
}

.certiItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.certiItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.certiItemDetails a {
  font-size: 20px;
  font-weight: 300;
  color: aliceblue;
}
.certiItemDetails a:hover {
  color : rgb(245, 215, 81);
  transition: color 500ms;
}
.certiItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .certi {
    width: 100%;
    gap: 9px;
  }
}
